:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainDark: #000;
  --mainYellow: #ffa400;
}



.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainBlack);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
body {
  background-color: #fff;
}

.search{
color: #fff;
}
.head{
margin-top:-40px;
width: 1000px;
height: 50px;
background-color: #fff;
}
.txt{
width:560px;
height: 32px;
left: 791px;
top: 74px;
background: #FFFFFF;
border: 0.5px solid #000000;
border-radius: 3px;
}

h1{
margin-top: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 43px;
line-height: 52px;
text-align: center;
text-transform: capitalize;

color: #FFFFFF;
}
.carts{
margin-top: 70px;
}
/*@import url("https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")*/